<!DOCTYPE html>
<html>
<head>
  <%- include ./../partials/head %>
  <title>Sneaker Form</title>
</head>
<body class="newSnkr">
  
  <div class="ui middle aligned center aligned grid">
  <div class="column">

    <form class="ui form" action="<%= data.route %>" method="post">
      <div class="ui stacked segment">
        <h1 class="ui black image header"> <%= data.title %> </h1>

        <!-- sneaker name -->
        <div class="required field">
          <input type="text" name="name" value="<%= data.sneaker.snkr_name %>" placeholder="Sneaker Name" required>
        </div>

        <!-- sneaker image URL -->
        <div class="required field">
          <input type="url" name="img_url" value="<%= data.sneaker.img_url %>" placeholder="Sneaker Image URL" required>
        </div>

        <!-- sneaker brand selection -->
        <div class="ui form">
          <div class="field">
            <select class="ui search dropdown" name="brand_id" required>
              <option value="">Select Sneaker Brand</option>
              <option value="1">Air Jordan</option>
              <option value="2">Nike</option>
              <option value="3">Adidas</option>
            </select>
          </div>
        </div><br>

        <!-- Retail price -->
        <div class="required field"> 
          <input type="number" name="retail_price" min="0" step="any" value="<%= data.sneaker.retail_price %>" placeholder="Sneaker Retail Price:  $000.00" required>
        </div>

        <!-- resale price -->
        <div class="required field"> 
          <input type="number" name="resale_price" min="0" step="any" value="<%= data.sneaker.resale_price %>" placeholder="Sneaker Resale Price:  $000.00">
        </div>

        <!-- Sneaker description -->
        <div class="required field">
          <label>Include a fun fact about the sneaker!</label>
          <textarea name="description" rows="5"><%= data.sneaker.description %></textarea>
        </div>
        <button class="ui button" type="submit"><%= data.buttonTitle %></button>
      </div>
    </form>

  </div>
  </div>
</body>
</html>