<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sneaker Profile</title>
    <%- include ../partials/head %>
  </head>

  <body>
    <header>
      <%- include ../partials/nav %>
    </header>
    
    <div class="container">
        <h1> Sneaker Profile page </h1><br>
      <div class="ui middle aligned center aligned grid">
      <div class="column">
        <img class="ui fluid image" src="<%= data.img_url %>"><br><b>
        <div>Name: <%= data.snkr_name %> </div>
        <div>Brand: <%= data.brand_name %> </div>
        <div>Size <%= data.shoe_size %> </div>
        <div>Retail Value: $<%= data.retail_price %> </div>
        <div>Resale Value: $<%= data.resale_price %> </div>
        <div>Fun Fact: <%= data.description %> </div></b>
      </div>  
      </div>
    </div><!-- /.container -->            
  </body>
</html>



