<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sneaker Profile</title>
    <%- include ../partials/head %>
  </head>

  <body>
    <header>
      <%- include ../partials/nav %>
    </header>
    
    <div class="container">
      <div class="starter-template">
        <h1> Sneaker Profile page </h1><br>

        <img src="<%= data.img_url %>">
        <div>Name: <%= data.snkr_name %> </div>
        <div>Brand: <%= data.brand_name %> </div>
        <div>Size <%= data.shoe_size %> </div>
        <div>Retail Value: $<%= data.retail_price %> </div>
        <div>Resale Value: $<%= data.resale_price %> </div>
        <div>Fun Fact: <%= data.description %> </div>

      </div>
    </div><!-- /.container -->
  </body>
</html>



