<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Welcome Back! </title>
    <%- include ../partials/head %>
  </head>

  <body>
    <header>  
      <%- include ../partials/nav %>
    </header>
    
    <div class="container">
      <div class="ui stacked segment">
        <h1> User Home Page </h1>
      </div>

      <% if(data.length) { %>
        <% for(var i in data) { %><!-- use semantic card template? -->

          <div> <!-- each sneaker -->
            <div>
              <a href="/sneakers/<%= data[i].sneaker_id%>">
                <img src=<%= data[i].img_url %>>
              </a>   
              <div>Name: <%= data[i].name %> </div>
             <!--  <span>Sneaker ID: <%= data[i].sneaker_id %> </span> -->
            </div>

            <!-- Edit button -->
            <% var edit = data[i].sneaker_id+"/edit" %> 
            <form action=<%= edit %> method="get">
              <button> Edit </button>
            </form>

            <!-- Delete button -->
            <% var remove = data[i].sneaker_id+"?_method=delete" %>
            <form action=<%= remove %> method="post">
              <button> Delete </button>
            </form>
          </div><br>
          
        <% } %> 
      <% } else { %>
        <div class="ui middle aligned center aligned grid">
          <div class="column"><div class="ui stacked segment">
            <h4> You don't have any sneakers in your inventory at the moment! </h4>
            <h4> Enter a search or click on the 'Add New Sneaker' button above to start! </h4>
          </div></div>
        </div>
      <% } %>

    </div><!-- /.container -->
  </body>
</html>


